In [1]:
# mount data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
# import linear regression model
from sklearn.linear_model import LinearRegression
# import regression metrics needed from sklearn
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [4]:
# load the dataset
df = pd.read_csv('/content/sales_predictions (3).csv')
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [12]:
df.duplicated().any()

# check for any duplicate data

False

In [13]:
df.isnull().sum()

# check for null values in data

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:
df[df['Item_Weight'].isnull()]

# want to investigate these null values a little

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [17]:
filtering_item_weight = df['Item_Weight']

item_weight_avg = filtering_item_weight.mean()

filtering_item_weight.fillna(item_weight_avg, inplace= True)

df.isna().sum()

filtering_data_size_1 = df['Outlet_Location_Type'] == 'Tier 1'

filtering_data_size_2 = df['Outlet_Location_Type'] == 'Tier 2'

filtering_data_size_3 = df['Outlet_Location_Type'] == 'Tier 3'

outlet_size = df['Outlet_Size']

df.loc[filtering_data_size_1 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Small'

df.loc[filtering_data_size_2 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Medium'

df.loc[filtering_data_size_3 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Large'

df.isnull().sum()

# this is how we will take care of the null values. Use average weight for tne null values in weight. If outlet location type tier is 1 then for outlet size that is null make it small. 
# For tier 2 outlet location type if it has outlet size null make it medium

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [19]:
dummy_df = pd.get_dummies(df, columns = ['Item_Fat_Content'], drop_first=True)

dummy_df

dummy_df = pd.get_dummies(df, columns = ['Item_Type'], drop_first=True)

dummy_df = pd.get_dummies(df, columns = ['Outlet_Size'], drop_first=True)

dummy_df = pd.get_dummies(df, columns = ['Outlet_Type'], drop_first=True)

dummy_df

# we will convert categorical variables into dummy variables

     Item_Identifier  ...  Outlet_Type_Supermarket Type3
0              FDA15  ...                              0
1              DRC01  ...                              0
2              FDN15  ...                              0
3              FDX07  ...                              0
4              NCD19  ...                              0
...              ...  ...                            ...
8518           FDF22  ...                              0
8519           FDS36  ...                              0
8520           NCJ29  ...                              0
8521           FDN46  ...                              0
8522           DRG01  ...                              0

[8523 rows x 14 columns]

In [20]:
feature_characteristics = ['Item_Identifier',
                 'Item_Weight',
                 'Item_Fat_Content',
                 'Item_Visibility',
                 'Item_Type',
                 'Item_MRP',
                 'Outlet_Identifier',
                 'Outlet_Establishment_Year',
                 'Outlet_Size',
                 'Outlet_Location_Type',
                ]            
# Get columns for features matrix
df.loc[:, feature_characteristics]

     Item_Identifier  Item_Weight  ... Outlet_Size  Outlet_Location_Type
0              FDA15        9.300  ...      Medium                Tier 1
1              DRC01        5.920  ...      Medium                Tier 3
2              FDN15       17.500  ...      Medium                Tier 1
3              FDX07       19.200  ...       Large                Tier 3
4              NCD19        8.930  ...        High                Tier 3
...              ...          ...  ...         ...                   ...
8518           FDF22        6.865  ...        High                Tier 3
8519           FDS36        8.380  ...      Medium                Tier 2
8520           NCJ29       10.600  ...       Small                Tier 2
8521           FDN46        7.210  ...      Medium                Tier 3
8522           DRG01       14.800  ...       Small                Tier 1

[8523 rows x 10 columns]

In [21]:
# Convert to numpy array
X = df.loc[:, feature_characteristics].to_numpy()

In [22]:
# Pandas series to convert to NumPy Array
df.loc[:, 'Item_Outlet_Sales']

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [23]:
y = df.loc[:, 'Item_Outlet_Sales'].values

In [24]:
# Import the TTS from sklearn
from sklearn.model_selection import train_test_split
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
reg = LinearRegression()

reg.fit(X_train,y_train)

ValueError: ignored

In [27]:
# or to predict all values on the training data
train_house = reg.predict(X_train)
# predict the values in the test set
test_house = reg.predict(X_test)

NotFittedError: ignored

In [ ]:
train_score = reg.score(X_train, y_train)
print(train_score)

In [ ]:
test_score = reg.score(X_test, y_test)
print(test_score)

In [ ]:
from sklearn.metrics import mean_squared_error

print('Training RMSE:', np.sqrt(mean_squared_error(y_train, reg.predict(X_train))))

print('Training RMSE:', np.sqrt(mean_squared_error(y_test, reg.predict(X_test))))