In [ ]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# corr = df.corr()

filename = '/content/sales_predictions (3).csv'

df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
len(df)

len(df.columns)

12

In [ ]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [ ]:
df.drop_duplicates()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
df.isnull()

df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
filtering_data_size_1 = df['Outlet_Location_Type'] == 'Tier 1'

filtering_data_size_2 = df['Outlet_Location_Type'] == 'Tier 2'

filtering_data_size_3 = df['Outlet_Location_Type'] == 'Tier 3'

outlet_size = df['Outlet_Size']

df.loc[filtering_data_size_1 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Small'

df.loc[filtering_data_size_2 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Medium'

df.loc[filtering_data_size_3 & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Large'

df.isnull().sum()

filtering_item_weight = df['Item_Weight']

item_weight_avg = filtering_item_weight.mean()

filtering_item_weight.fillna(item_weight_avg, inplace= True)

df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
df5 = df.loc[filtering_data_size_1 & outlet_size,:]

replacement_1 = df5.fillna('Small', inplace= True)

replacement_1

# note the goal here is to say that for any value in outlet size that was NA and also had the column value tier 1 for outlet location type, 
# I decided to give such data an outlet_size of small because it corresponds accordingly with tier 1. Same with outlet location type tier 2 
# and outlet size medium as well as outlet location tier 3 and outlet size large

In [ ]:
# for each variable I wanted to get hte value counts to see if there were any misspellings or different names for variables in the columns 

# df['Item_Identifier'].value_counts()

# df_item_identifier = df['Item_Identifier'].value_counts()

# df_weight = df['Item_Weight'].value_counts()



# df_visibility = df['Item_Visibility'].value_counts()

# df_type = df['Item_Type'].value_counts()

# df_MRP = df['Item_MRP'].value_counts()

# df_outlet_identifier = df['Outlet_Identifier'].value_counts()

# df_establishment_year = df['Outlet_Establishment_Year'].value_counts()

# df_outlet_size = df['Outlet_Size'].value_counts()

# df_location_type = df['Outlet_Location_Type'].value_counts()

# df_outlet_type = df['Outlet_Type'].value_counts()

# df_item_outlet_sales = df['Item_Outlet_Sales'].value_counts()


# df_item_identifier

# df_weight

# df_fat_content

# df_visibility

# df_type

# df_MRP

# df_outlet_identifier

# df_establishment_year

# df_outlet_size

# df_location_type

# df_outlet_type

# df_item_outlet_sales

df['Item_Fat_Content'].value_counts()


df_LF = df['Item_Fat_Content'] == 'LF'

df_low_fat = df['Item_Fat_Content'] == 'low fat'

df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace = True)

#

In [ ]:
df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace = True)

df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
df.describe()

# summary statistics of all columns of data that had numerical values

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.857645  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [ ]:
# 7) mean max and min of numerical statistical values below 

df.mean()

Item_Identifier                      DRA12
Item_Weight                          4.555
Item_Fat_Content                   Low Fat
Item_Visibility                          0
Item_Type                     Baking Goods
Item_MRP                             31.29
Outlet_Identifier                   OUT010
Outlet_Establishment_Year             1985
Outlet_Size                           High
Outlet_Location_Type                Tier 1
Outlet_Type                  Grocery Store
Item_Outlet_Sales                    33.29
dtype: object

In [ ]:
df.max()

Item_Identifier                          NCZ54
Item_Weight                              21.35
Item_Fat_Content                       Regular
Item_Visibility                       0.328391
Item_Type                        Starchy Foods
Item_MRP                               266.888
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 2009
Outlet_Size                              Small
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type3
Item_Outlet_Sales                        13087
dtype: object

In [ ]:
df.min()

Item_Identifier                      DRA12
Item_Weight                          4.555
Item_Fat_Content                   Low Fat
Item_Visibility                          0
Item_Type                     Baking Goods
Item_MRP                             31.29
Outlet_Identifier                   OUT010
Outlet_Establishment_Year             1985
Outlet_Size                           High
Outlet_Location_Type                Tier 1
Outlet_Type                  Grocery Store
Item_Outlet_Sales                    33.29
dtype: object

958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
             ..
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

In [ ]:
# Project 1 - Part 3 (Core)
# We will continue to work on your sales prediction project. 
# The goal of this is to help you understand the data as it relates to the  
# products and outlets that play crucial roles in increasing sales.

# For Part3, your task is to complete any statistical analyses that might help you understand,
#  explain, or model with your data. This must include at least one of each:

# Histogram to view the distributions of various features in your dataset.
# Boxplot to view statistical summaries of various features in your dataset.
# Heatmap of the correlation between feature

item_filter = df.loc[:,'Item_Weight'] <= 15
df.loc[item_filter,'Item_Weight'].hist(bins = 50)
plt.xticks(rotation = 30)
plt.ticklabel_format(useOffset=False, style='plain')

In [ ]:
print(item_filter)

print(df.Item_Weight)

In [ ]:
plt.figure(figsize = (21, 21))
fig, axes = plt.subplots(nrows =1, ncols =1)

# Item_Weight1 = df.loc[df['Item_Weight']=='W','Item_Outlet_Sales']
# Item_MRP1 = df.loc[df['Item_MRP']=='$','Item_Outlet_Sales']

boxplots = axes.boxplot([df['Item_MRP'],df['Item_Outlet_Sales']],
          notch = True,
          labels=['MRP','Sales'],
          widths = .7,
          patch_artist=True,
          medianprops = dict(linestyle='--', linewidth=2, color='Blue'),
          boxprops = dict(linestyle='--', linewidth=2, color='Black', facecolor= 'green', alpha = .8)
          );

In [ ]:
# plt.figure(figsize = (21, 21))
# fig, axes = plt.subplots(nrows =1, ncols =1)

# boxplots = axes.boxplot([df['Item_Weight'],df['Item_Fat_Content']],
#           notch = True,
#           labels=['Weight','Fat'],
#           widths = .7,
#           patch_artist=True,
#           medianprops = dict(linestyle='--', linewidth=2, color='Blue')

In [ ]:
df['Item_Weight']

df['Item_Fat_Content']

In [ ]:
df['Item_Weight']

In [ ]:
sns.heatmap(corr, cmap = 'Greens', annot = True)